body {
    font-family: 'Comic Sans MS', sans-serif;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

#content {
    display: flex;
}

#links, #params, header {
    margin: 0 3rem;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    padding: 0 0.5rem;
}

#links {
    flex-grow: 1;
    margin-left: 0;
    max-width: 42rem;
}

div.card, header, div.search {
    margin-bottom: 1rem;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.30);
    background-color: white;
    padding: 0.5rem;
}

div.info {
    display: flex;
    font-size: 0.8rem;
}

div.info div {
    margin-right: 0.8rem;
}

div.infoLabel {
    color: gray;
}

div.tags {
    flex-grow: 1;
}

.error h2 {
    color: red;
}
